<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.cadr.EtherHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EtherHelper</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier com.cadr.CADR and certificate leaf[subject.CN] = &quot;Mac Developer: Greg Gilley (HW2UG2Q7MX)&quot;</string>
	</array>
</dict>
</plist>
